$text-color-white: white;
$text-color-grey: rgb(113, 111, 111);
$text-color-black: rgb(24, 24, 24);
$grey-section: rgb(255, 246, 243);
$input-color: rgb(218, 217, 217);
$main-color:rgb(38, 97, 113);
$secondary-color:rgb(100, 130, 139);
$primaryBtn:rgb(190, 75, 75);
$secondaryBtn:rgb(73, 39, 222);
$tablet: 768px;
$mobile: 576px;
$mediumScreen:1100px;